<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code</title>
    <link rel="stylesheet" type="text/css" href="../style/landingPage.css">
    <script src="../script/script.js"></script>
    <script src="../script/jquery-3.2.1.js"></script>
    <link rel="shortcut icon" href="../public/images/l4.png" type="image/x-icon">

</head>

<body onscroll="fixHeader()">
    <header>
        <img src="../images/l4.png" alt="" id="logo">
        <div id="name">code</div>
        <div id="sign-in" >Sign In</div>
    </header>


    <!-- <section id="front-image">
        <div id="text-container">
            <h1>Some text about us</h2>
                <h2>some other text</h1>
            <h3>another text</h1>
        </div>
    </section> -->
    <img src="../images/iso1.png" id="front-image">

    <section id="how-it-works-label">
        <hr id="how-it-works-separator">
        <p id="how-it-works-text">HOW IT WORKS</p>
    </section>
    <section id="how-it-works-panel">
        <div id="highlight-card-1" class="highlight-cards">
            <img src="../images/card1_1.png" alt="" class="highlight-card-images">
            <div class="highlight-separator"></div>
            <h1 class="highlight-card-titles">BE PART OF THE CHANGE</h1>
            <p class="highlight-card-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ex, dolore eligendi voluptatibus</p>

        </div>
        <div id="highlight-card-2" class="highlight-cards">
            <img src="../images/card2.png" alt="" class="highlight-card-images">
            <div class="highlight-separator"></div>
            <h1 class="highlight-card-titles">CHASE YOUR PASSION</h1>
            <p class="highlight-card-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ex, dolore eligendi voluptatibus</p>

        </div>
        <div id="highlight-card-3" class="highlight-cards">
            <img src="../images/card3.png" alt="" class="highlight-card-images">
            <div class="highlight-separator"></div>
            <h1 class="highlight-card-titles">TELL YOUR STORY</h1>
            <p class="highlight-card-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ex, dolore eligendi voluptatibus</p>

        </div>
        <div id="highlight-card-4" class="highlight-cards">
            <img src="../images/card4.png" alt="" class="highlight-card-images">
            <div class="highlight-separator"></div>
            <h1 class="highlight-card-titles">MAKE NEW FRIENDS</h1>
            <p class="highlight-card-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ex, dolore eligendi voluptatibus</p>

        </div>
    </section>

    <section id="service-list">
        <div class="service-list-container">
            <div class="service-image"></div>
            <div class="service-detail">
                <span class="service-title">Friendly Environment</span>
                <br>
                <br>onsequuntur omnis consectetur voluptatem quia ratione tempora, aut est exercitationem impedit accusamus libero
                deleniti odit debitis sapiente.</div>
        </div>
        <div class="service-list-container">
            <div class="service-image"></div>
            <div class="service-detail">
                <span class="service-title">People with passion</span>
                <br>
                <br>onsequuntur omnis consectetur voluptatem quia ratione tempora, aut est exercitationem impedit accusamus libero
                deleniti odit debitis sapiente.</div>
        </div>
        <div class="service-list-container">
            <div class="service-image"></div>
            <div class="service-detail">
                <span class="service-title">Professional Mentors</span>
                <br>
                <br>onsequuntur omnis consectetur voluptatem quia ratione tempora, aut est exercitationem impedit accusamus libero
                deleniti odit debitis sapiente.</div>
        </div>
        <div class="service-list-container">
            <div class="service-image"></div>
            <div class="service-detail">
                <span class="service-title">New start-ups</span>
                <br>
                <br>onsequuntur omnis consectetur voluptatem quia ratione tempora, aut est exercitationem impedit accusamus libero
                deleniti odit debitis sapiente.</div>
        </div>
    </section>
    <section id="slideshow-panel">
        <div id="infinite-icon"></div>
        <div id="slideshow-container">
            <div id="left-button"></div>
            <div id="picture"></div>
            <div id="right-button"></div>
        </div>
        <div id="slideshow-switch">
            <div class="switches" id="switch1"></div>
            <div class="switches" id="switch2"></div>
            <div class="switches" id="switch3"></div>
        </div>
    </section>




    
    <div id="modalBg">
        <div id="addForm">

          <div id="left-sign-in"></div>
           <div id="right-sign-in"></div>
            <!-- <input type="text" id="titleInput" placeholder="task Title">
            <textarea name="detail" id="detailInput" placeholder="task Detail"></textarea> -->
            <!-- <div id="selectToday">
                <div id="switch">
                    <div id="innerSwitch"></div>
                </div>
                <span id="todayTxt">Today</span>
            </div> -->
           
            
        </div>
    </div>
</body>

</html>